<!DOCTYPE html>
<html>

<head>

<title>{{tool.name}}</title>

</head>


<body>


<h1>{{tool.name}}</h1>


<h2>What does this tool do?</h2>

<p>
{{tool.description}}
</p>



<h2>Why do we use this?</h2>

<p>
{{tool.why}}
</p>



<h2>Formula</h2>

<p>
{{tool.formula}}
</p>



<form method="POST">


{% for input in tool.inputs %}

<label>
{{input}}
</label>

<br>

<input 
type="number"
step="any"
name="value{{loop.index}}"
required>

<br><br>


{% endfor %}



<button>
Calculate
</button>


</form>



{% if result %}

<hr>


<h2>Result:</h2>

<p>
{{result}}
</p>



<h2>How it was solved:</h2>


<p style="white-space:pre-line">

{{explanation}}

</p>


{% endif %}



</body>

</html>
