<h1>{{tool.name}}</h1>


<h3>What this tool does:</h3>
<p>{{tool.description}}</p>


<h3>Why use this?</h3>
<p>{{tool.why}}</p>


<h3>Formula:</h3>
<p>{{tool.formula}}</p>


<form method="POST">

<label>Enter first value:</label>
<input name="a" required>


<label>Enter second value:</label>
<input name="b" required>


<button>
Calculate
</button>

</form>


{% if result %}

<h2>Result:</h2>

<p>{{result}}</p>


<h3>Explanation:</h3>

<p style="white-space:pre-line;">
{{explanation}}
</p>

{% endif %}

</html>
